<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>856070479941-arvarn01cipk0k6p6uagbf62kl500sfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856070479941-arvarn01cipk0k6p6uagbf62kl500sfh</string>
	<key>API_KEY</key>
	<string>AIzaSyCWnGrwSmljb5kgAHW1OkJSHn50Aa3ef78</string>
	<key>GCM_SENDER_ID</key>
	<string>856070479941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruqii.RuqiiSociety</string>
	<key>PROJECT_ID</key>
	<string>ruqii-lobna</string>
	<key>STORAGE_BUCKET</key>
	<string>ruqii-lobna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:856070479941:ios:4f2248b0fd6814fe</string>
	<key>DATABASE_URL</key>
	<string>https://ruqii-lobna.firebaseio.com</string>
</dict>
</plist>